* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

body {
    width: 1200px;
    margin: auto;
}

#header-logo {
    height: 100px;
}

main {
    margin:10px 0 0 5px;
}

.pattern {
    background-image: url("../img/pattern.png");
    background-size:400px;
    height: 100%;
    background-color: cornflowerblue;
}

#logo {
    height: 200px;
    width: 200px;
    padding-top: 40px;
    padding-left: 10px;
}

h1 {
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 2px;
}

section, footer {
    padding-left: 5px;
}

#the-booleaner {
    color: rgb(19, 185, 250);
}

h6 {
    color:grey;illo, aliquid quisquam esse, hic optio eveniet, sit dolor. Deserunt id officia totam corrupti vitae ab, inventore perferendis sint nesciunt ullam? Quas debitis assumenda, impedit magnam 
}

.description-photo {
    font-size: smaller;
}

.paragrafo {
    margin: 20px 0 20px 0;
}

.evidenziato {
    background-color: yellow;
}

#noname-list {
    padding: 0 0 20px 20px;
}

table {
    border-spacing: 0;
}

thead {
    background-color: rgb(23, 115, 202);
}

.w25 {
    width: 25%;
}

.w50 {
    width: 50%;
}

.backblue {
    background-color: rgb(147, 191, 228);
}

footer p {
    color: grey;
}

.footer {
    width: 250px;
    height: 150px;
    background-size: cover;
    padding: 15px;
    margin-bottom: 10px;
}

#photo1 {
    background-image: url("../img/monitor.jpg");
}

#photo2 {
    background-image: url("../img/graph.jpg");
}

.text-photo {
    color: white;
    font-size: 20px;
}