* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

#header-logo {
    height: 100px;
    background-color: cornflowerblue;
}

main {
    margin:10px 0 0 5px;
}

.pattern {
    background-image: url(../img/pattern.png);
    background-size:400px;
    height: 100%;
}

#logo {
    height: 200px;
    width: 200px;
    padding-top: 40px;
    padding-left: 10px;
}

h1 {
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 2px;
}

section {
    padding-left: 5px;
}

#the-booleaner {
    color: rgb(19, 185, 250);
}

h6 {
    color:grey;illo, aliquid quisquam esse, hic optio eveniet, sit dolor. Deserunt id officia totam corrupti vitae ab, inventore perferendis sint nesciunt ullam? Quas debitis assumenda, impedit magnam 
}

.description-photo {
    font-size: smaller;
}

.paragrafo {
    margin: 20px 0 20px 0;
}

.evidenziato {
    background-color: yellow;
}

#noname-list {
    padding-left: 20px;
}